extends ../layouts/application.pug

block header
  = t('views.statuses.index.create')

block content
  +formFor()(action=route('taskStatuses') method='post')
    +input(status, 'name', errors, t('views.statuses.new.name'))(type="text")
    +submit(user)(value=t('views.statuses.new.submit'))