extends ../layouts/application.pug

block header
  = t('views.statuses.new.create')

block content
  +formFor()(action=route('taskStatuses') method='post')
    +input(status, 'name', t('views.statuses.new.createStatus'), errors)(type="text")
    +submit(user)(value=t('views.statuses.new.create'))