extends ../layouts/application.pug

block content
  .cardcard.shadow.bg-white.border.rounded-3
    .card-body.p-5.bg-light
      .display-4.fw-bold.mb-0= t('views.welcome.index.hello')
      p.lead= t('views.welcome.index.description')
      a.btn.btn-primary.btn-lg.px-4.mt-3.fw-bold(href="hexlet.io")= t('views.welcome.index.more')